.link {
	padding: 10px 16px;
	border-radius: 8px;
	text-decoration: none;
	text-align: center;
	transition: 0.3s ease;
}

.link:hover {
	opacity: 0.85;
}

.linkDefault {
	background-color: rgb(0, 153, 204);
	color: #fff;
}

.linkLight {
	background-color: #fff;
	color: rgb(0, 153, 204);
	border: 1px solid rgb(0, 153, 204);
}
