.albumWrapper {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	text-decoration: none;
	height: 33vw;
	min-height: 150px;
	max-height: 250px;
	background-color: rgba(0, 153, 204, 0.7);
}

.title {
	color: #fff;
	text-align: center;
}
